<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Weather App</a>
      </nav>
    </header>

    <main role="main">
        <div class="jumbotron">
          <h1 class="display-4">What's the weather like?</h1>
            <br>
          <form class="form-inline" method="POST">
              {% csrf_token %}
              <div class="form-group mx-sm-3 mb-2">
                  {{ form.name }}
              </div>
              <button type="submit" class="btn btn-primary mb-2">Add City</button>
            </form>
        </div>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for city_weather in weather_data %}
                    <div class="col-md-3">
                      <div class="card mb-3 shadow-sm">
                        <img src="http://openweathermap.org/img/wn/{{ city_weather.icon }}@2x.png" alt="Image" style="max-width: 100px; display:block;
margin:auto;">
                        <div class="card-body" style="text-align:center;">
                            <h5 class="card-title">{{ city_weather.city }}</h5>
                            <p class="card-text">Temperature: {{ city_weather.temperature}} °C</p>
                            <p class="card-text">Description: {{ city_weather.description }}</p>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>

    <footer class="container">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2019-2022 Saul Lara.</p>
    </footer>

</body>

</html>